.DS_Store
.RData
.Rhistory
.Rproj.user/
*.csv
*.rds
*.docx
*.tar.gz
*.Rcheck/
/B_RSRClust.R
/Basit Uygulama.R
/Simülasyon ICORS.R
/TSRClust.R
/TSRClust_Generic.R
/robem.R

# Final TSRClust reproducibility results
!results/real_data_results/*.csv
!results/simulation_design/*.csv
!results/summary_results/*.csv
